<!doctype html>
<html>
<head>
    <title>Add</title>
    <meta charset="utf-8">
</head>
<body>
    <h2>选择你要上传的文件</h2>

    <form method="post" enctype="multipart/form-data" action="{% url 'learning_logs:add_img' %}">
        {% csrf_token %}
        {{ af.as_p }}
        <input type="submit" value="提交"/>
    </form>
        {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
        {% endif %}
</body>
</html>

