{% extends 'learning_logs/base.html' %}

{% block content %}
<h2>当前内容：<h2/>
<h4>{{ entry }}</h4>
 <p>
<!--     <a href="{% url 'learning_logs:add_img' %}" target="_blank">上传图片</a>-->
     <a class="btn btn-primary">所属主题：</a>
     <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
 </p>
 <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
     {% csrf_token %}
     {{ form.as_p }}
     <h4>
         <button name="submit">保存</button>
     </h4>
 </form>


{% endblock content %}



method="post" enctype="multipart/form-data" action="{% url 'learning_logs:add_img' %}"




































