{% extends "learning_logs/base.html" %}

<!--{% block header %}-->
<!--<html>-->
<!--<head>-->
<!--<link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" />-->
<!--    <script type="text/javascript">$(document).ready(function(){-->
<!--        });-->
<!--    </script>-->
<!--</head>-->
<!--  <div class="jumbotron">-->
<!--      <h1>跟踪你的学习</h1>-->
<!--  </div>-->
<!--{% endblock header %}-->

{% block content %}

<h1>这里是学习笔记简介！</h1>
<h2>写入一篇日记，记录日常……</h2>
<ul>
    <li>嫌弃图片不好看就自己换，淦！</li>
</ul>
<img width="70%" height="10%" src="/media/img2/2020763_yJNIxfv.jpg">

{% endblock content %}