{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h1>主题</h1>
{% endblock header %}

{% block content %}

<p>
   <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary">添加一个主题</a>
</p>

     {% for topic in topics %}
     <div class="panel panel-default">
         <div class="panel-heading">
                 <h3>
                     <a href="{% url 'learning_logs:topic' topic.id %}" class="panel-body">{{ topic }}</a>
                 </h3>
         </div>
         <a href="{% url 'learning_logs:edit_topic' topic.id %}" class="btn btn-primary">修改名称</a>
     </div><!-- panel -->
     {% empty %}
       <li>还没有添加主题</li>
     {% endfor %}


{% endblock content %}
























